.categoria {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.titulo{
    background-color: #6BD1FF; /*El color deberia ser condicional*/
    
    padding: 20px;
    font-family: 'roboto' sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #F5F5F5;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}